/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

h1 {
    color: #000;
    font-family: 'Syne', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

h2 {
    color: #000;
    font-family: 'Martian Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 32px;
}

h3,
h4,
h5,
h6 {
    color: #000;
    font-family: 'Martian Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

body {
    font-family: 'Martian Mono', monospace;
    color: #444444;
}

.button {
    display: inline-block;
    height: 36px;
    padding: 8px 16px;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(78deg, rgba(0, 33, 107, 0.20) 0%, rgba(0, 79, 255, 0.20) 100%), linear-gradient(282deg, #000 0%, #626262 100%);
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.button:hover {
    background: linear-gradient(78deg, rgba(0, 33, 107, 0.35) 0%, rgba(0, 79, 255, 0.35) 100%), linear-gradient(282deg, #333 0%, #999 100%);
    box-shadow: 0 10px 12px rgba(0, 33, 107, 0.20);
}

/* Button Styles for Mobile View */
@media (max-width: 768px) {
    .button {
        min-width: 80px;
        padding: 0;
        font-size: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 80px;
    padding: 20px 0;
    z-index: 10;
    position: relative;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 48px;
}

@media (max-width: 768px) {
    #header .logo img {
        max-height: 32px;
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#hero .left-column {
    flex: 1.5;
    padding: 64px;
    text-align: left;
}

#hero .right-column {
    flex: 1;
    padding: 32px;
    text-align: center;
}

#hero .right-column img {
    max-width: 100%;
    height: auto;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* Adjustments for the hero section on smaller screens */
@media (max-width: 768px) {
    #hero .hero-content {
        flex-direction: column;
        text-align: center;
        margin-top: 32px;
    }

    #hero .left-column {
        flex: 1;
        padding: 16px;
        text-align: center;
    }

    #hero .left-column h1 {
        margin-bottom: 48px;
    }

    #hero .right-column {
        flex: 1;
        padding: 16px;
        text-align: center;
    }
}

/* Search bar */
.search-bar {
    display: flex;
    max-width: 360px;
    height: 24px;
    padding: 8px;
    align-items: center;
    border-radius: 8px;
    background: #F5F5F5;
}

/* Style the input element inside the search bar for smaller screens */
.search-bar input {
    flex: 1 0 0;
    color: var(--label-colors-lcl-secondary, rgba(60, 60, 67, 0.60));
    font-family: Martian Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin-left: 12px;
}

/* Adjustments for the input element on smaller screens */
@media (max-width: 768px) {
    .search-bar input {
        font-size: 14px;
        margin-left: 8px;
    }

    .flex-container {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}


/* Result Card */
.result-card {
    display: flex;
    width: 300px;
    padding: 32px 32px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: #F5F5F5;
    margin-top: 32px;
}

.result-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.result-label {
    color: #555;
    font-family: 'Martian Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 14px;
}

.result-value {
    color: #001369;
    font-family: 'Martian Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14px;
}